{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>

    <!-- Core CSS -->
    <link href="{% static 'assets/plugins/bootstrap/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/pace/pace-theme-big-counter.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/main-style.css' %}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet" />
    <style>
        #calendar {
        max-width: 100%;
        margin:auto;
    }
    </style>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="{% static 'adm/img/log.png' %}" alt="Logo" /></a>
        </div>
        <ul class="nav navbar-top-links navbar-right" style="display: flex; align-items: center; height: 60px; margin-right: 15px;">
            <li><a href="{% url 'employee_notifications' %}"><i class="fa fa-bell fa-3x"></i></a></li>
            <li><a href="{% url 'logoutpage' %}"><i class="fa fa-sign-out fa-fw" style="font-size:larger;"></i> Logout</a></li>
        </ul>
    </nav>
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <div class="user-section">
                        <div class="user-section-inner">
                            {% if employee.image %}
                                <img src="{{ employee.image.url }}" class="profile-image" alt="Profile Image">
                            {% else %}
                                <img src="{% static 'assets/img/image.png' %}" class="profile-image" alt="Default Image">
                            {% endif %}
                        </div>
                        <div class="user-info">
                            <div>{{ employee.user.first_name }} {{ employee.user.last_name }}</div>
                            <div>ID: {{ request.user }}</div>
                            <div>Desg: {{ employee.designation }}</div>
                        </div>
                    </div>
                </li>
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </li>
                <li class="selected"><a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
                <li><a href="{% url 'empprojects' %}"><i class="fa fa-cogs fa-fw"></i> Projects</a></li>
                <li><a href="{% url 'emp_attendance' %}"><i class="fa fa-check-circle fa-fw"></i> Attendance</a></li>
                <li><a href="{% url 'leave_request_success' %}"><i class="fa fa-times-circle fa-fw"></i> Leave Request</a></li>
                <li><a href="{% url 'employee_events' %}"><i class="fa fa-calendar fa-fw"></i> Events</a></li>
                <li><a href="{% url 'employee_salary_slips' %}"><i class="fa fa-credit-card fa-fw"></i> Salary Slip</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"><i class="fa fa-comments fa-fw"></i> Chat</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'chat-with-admin' %}">Chat with Admin</a></li>
                        <li><a href="{% url 'chat-with-client' %}">Chat with Client</a></li>
                        <li><a href="{% url 'chat-with-employee' %}">Chat with TeamMates</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'assigned_tickets' %}"><i class="fa fa-ticket fa-fw"></i> Tickets</a></li>
                <li><a href="{% url 'emp_todolist' %}"><i class="fa fa-list fa-fw"></i> To Do List</a></li>
                <li><a href="{% url 'my-tasks' %}"><i class="fa fa-tasks fa-fw"></i> Tasks</a></li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12"><h1 class="page-header">Dashboard</h1></div>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Calendar Overview</div>
                            <div class="panel-body">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-primary text-center no-boder">
                            <div class="panel-body blue">
                                <i class="fa fa-pencil-square-o fa-3x"></i>
                                <h3>{{ pending_tasks }}</h3>
                            </div>
                        <div class="panel-footer">Pending Tasks Found</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary text-center no-boder">
                        <div class="panel-body green">
                            <i class="fa fa-floppy-o fa-3x"></i>
                            <h3>{{ new_projects|default:"0" }}</h3>
                        </div>
                    <div class="panel-footer">New Projects Uploaded</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-primary text-center no-boder">
                    <div class="panel-body red">
                        <i class="fa fa-thumbs-up fa-3x"></i>
                        <h3>{{ client_count }}</h3>
                    </div>
                    <div class="panel-footer">New Clients Registered</div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.15/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        if (calendarEl) {
            var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            height: 500,
            events: "{% url 'calendar_events' %}"  
            });
            calendar.render();
        }
        });
    </script>
    <!-- Core JS -->
    <script src="{% static 'assets/plugins/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'assets/plugins/pace/pace.js' %}"></script>
    <script src="{% static 'assets/scripts/siminta.js' %}"></script>
</body>
</html>
